.main-container {
    .menu-user{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 15px;
        right: 1rem;
        position: absolute;
        top: 29px;
        width: 100%;
        .fa-shopping-cart{
            font-size: 1.6rem;
        }
        .count-product{
            background-color: #fff;
            position: absolute;
            top: -9px;
            right: 120px;
            padding: 1px 6px;
            border-radius: 50%;
            color: red;
            font-weight: 500;
            font-family: system-ui;
            line-height: 18px;
            font-size: 12px; 
        }
        .dropdown{
          .dropdown-toggle{
            display: flex;
            align-items: center;
            gap: 11px;
            padding: 7px;
            background: #070d1b!important;
            border-color: #070d1b!important;
            .active-sesion{
              margin-bottom: 0;
              color: #fff;
            }
          }
        }
      }
      .cart-products{
        position: absolute!important;
        top: 82px;
        right: -18px;
        background-color: #fff;
        padding: 0 18px;
        box-shadow: 0px 20px 44px -6px rgba(0, 0, 0, 0.06);
        display: none;    
        min-width: 290px;
        z-index: 2;
        width: 440px;
        right: 134px;
        border-radius: 6px;
        .close-btn{
            position: absolute;
            padding: 1px 6px;
            top: -4px;
            right: 6px;
            cursor: pointer;
            color: #000;
            font-weight: 700;
            line-height: 18px;
        }
        .item {
            display: flex;
            border-bottom: solid 2px #000;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            .product-count{
               display: flex;
               .product-count-value{
                width: 2rem;
               }
            }
            span {
                background-color: #000;
                padding: 0px 5px;
                border-radius: 50%;
                color: #fff;
                font-family: system-ui;
                cursor: pointer;
            }
        }
        h3{
            font-size: 1.6rem;
            margin-top: 1.5rem;
            color: #000;
            text-align: center;
        }
        h2{
            font-size: 1.8rem;
            margin-top: 1.5rem;
            color: #000;
            text-align: center;
        }
    }
    
    .content-product{
        display: flex;
        gap: 10px; 
        .filter-products{
            display: flex;
            flex-direction: column;
            width: 10rem;
            padding: 15px;
            border-radius: 20px;
            height: 150px;
            position: sticky;
            top: 10px;
            box-shadow: 0px 20px 44px -6px rgba(0, 0, 0, 0.06);
            .check-items{
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
        }
    }
    .productos-contenido {
        width: 87%;
        @include styleMainGlobal (20px,auto,2rem,2rem,$border_main,$shadow_main);
        
        >p {
            text-align: justify;
            line-height: 32px;
        }

        .p-titulo{
            font-size: 1.5em;
            margin: 0.67em 0;
            font-weight: 500;
            line-height: 1.2;
        }

        .productos-section {
            gap: 28px;
            margin-left: 0px;
            display: flex;
            justify-content: center;

            .modal-dialog {
                margin-top: 16rem;
            }
            
            .card {
                border: none;
                border-radius: 3px;
                box-shadow: 0px 20px 44px -6px rgba(0, 0, 0, 0.06);
                .btn-none{
                    border: none;
                    background: none;
                }
                .btn-outline-dark{
                    width: 100%;
                }
                .card-body{
                    .card-title{
                        font-size: 1.25rem;
                        margin-top: 0;
                        margin-bottom: 0.5rem;
                        font-weight: 500;
                        line-height: 1.2;
                    }
                    .card-inv{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .card-price{
                            color: red;
                        }
                        .card-stock{
                            font-size:14px;
                        }
                    }
                    
                }
            }
        }
    }

}

/**************** Para Tablet **********************/
@media (max-width: $medium) {
    .main-container {
        .productos-contenido {
            .productos-section {
                display: flex;
                flex-direction: center;
            }
        }
    }
}

/**************** Para Moviles **********************/

@media (max-width: $small) {

    .main-container {
        .productos-contenido {
            padding: 2rem;

            .productos-section {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}